<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/autoload.php"
         colors="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Feature">
      <directory>tests/Feature</directory>
      <directory>modules/*/Tests/Feature</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
  </php>
  <source>
    <include>
      <directory>src/</directory>
    </include>
  </source>
</phpunit>
